.FormButton {
  border-radius: 8px;
  border: none;
  color: var(--white);
  margin: 30px 0 20px 0;
  cursor: pointer;
  font-size: var(--medium-paragraph);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormButton.formbutton-big {
  height: 50px;
  width: 100%;
}

.FormButton.formbutton-green {
  background-color: var(--green);
}

.FormButton.formbutton-green:hover {
  background-color: var(--dark-green);
}

.FormButton.formbutton-orange {
  background-color: var(--orange);
  height: 50px;
}

.FormButton.formbutton-orange:hover {
  background-color: var(--dark-orange);
}

.FormButton.formbutton-orange .arrow {
  fill: var(--white);
  margin-left: 10px;
}

.FormButton.formbutton-error,
.FormButton.formbutton-error:hover {
  background-color: var(--modal-background);
  color: var(--black);
  cursor: not-allowed;
}

.FormButton.formbutton-loading,
.FormButton.formbutton-loading:hover {
  cursor: not-allowed;
}

.FormButton .spinner {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  stroke: #ffffff;
}
